h1{
  text-align: center;


}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: times, serif;
  font-size: 13px;

}

ul li {
  display: block;
  position: relative;

}

li ul {
  display: block;
  position: relative;
}

ul li a
{
  display: block;
  padding: .5em;
  color: #000;
  text-decoration: none;
  background-color: #f1f1f1;
}
li.tocheading1 {
  clear: both;
}

ul li ul li a {
  background-color: #ffffff;
  float: left;
  margin-left: 1em;

}

ul li a.active {
  background-color: #4CAF50;
  color: white;
}

ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
a.allscenes{
  float: right;
}

@media screen and (min-width: 700px) {
  li.tocheading1 {
    clear: none;
  }
  a{
    float: left;
  }
  }
