body {
  font-family: "Times New Roman", Garamond, Times, serif;


}
/* .content {
  margin: auto;
  padding: 5px 20px;
} */

h1 {
  margin-bottom: 0;
  text-align: center;
}
h2 {
  font-size: 110%;
  text-align: center;
  margin-top: 0;
}

img {
  max-height: 60%;
}

.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
padding-top: 10px;
}

.detail {
  list-style-type: none;
  margin: .3em 1.5em;
}

p.info {
  margin: 1em 5% 1em 5%;
}



@media only screen and (min-width: 600px)  {

  .cover {
    width: 50%;
    float: right;
    padding-left: 5%;
    padding-top: 0;

  }
  #firstpara {
        padding-top: 7%;
  }
}

[hidden] { display: none; }
